<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='ha-chart-base.html'>
<dom-module id='ha-chart-line'>
  <template>
      <ha-chart-base publish data="[[chartData]]" selected-element ="{{selectedDataPoint}}"></ha-chart-base>
  </template>
</dom-module>
<script>

Polymer({
  is: 'ha-chart-line',

  useNativeCSSProperties: true,

  properties: {
    data: {
      type: Object,
      observer: 'dataChanged',
    },

    unit: {
      type: String,
    },

    isSingleDevice: {
      type: Boolean,
      value: false,
    },

    isAttached: {
      type: Boolean,
      value: false,
      observer: 'dataChanged',
    },

    endTime: {
      type: Object,
    },
    
    chartEngine: {
      type: Object,
    },

    chartData: {
      type: Object,
    },
  },

  created: function () {
    this.style.display = 'block';
  },

  attached: function () {
    this.isAttached = true;
  },

  dataChanged: function () {
    this.drawChart();
  },

  drawChart: function () {
    if (!this.isAttached) {
      return;
    }

    var xs = {};
    var dataTable = [];
    this.data.forEach(function (stateInfo) {
      if (stateInfo.length === 0) return;
      var entityDisplay = window.hassUtil.computeStateName(stateInfo[0]);
      xs[entityDisplay] = entityDisplay + '_x';
      var dataTime = [entityDisplay + '_x'];
      var dataRow = [entityDisplay];

      stateInfo.forEach(function (state) {
        var timeStamp = new Date(state.last_changed);
        // if (timeStamp > endTime) {
        //   // Drop datapoints that are after the requested endTime. This could happen if
        //   // endTime is 'now' and client time is not in sync with server time.
        //   return;
        // }
        dataTime.push(timeStamp);
        dataRow.push(+state.state);
      });
      dataTable.push(dataTime, dataRow);
    });
    const timeDateFormat = d3.timeFormat('%m-%d');
    const timeDayFormat = d3.timeFormat('%H:%M');
    const timeFullFormat = d3.timeFormat('%Y-%m-%d %H:%M:%S');
    var chartData = {
      data: {
        xs: xs,
        columns: dataTable,
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            culling: true,
            format: d => {
              if (d.getHours() + d.getMinutes() + d.getSeconds() === 0) {
                return timeDateFormat(d);
              } else {
                return timeDayFormat(d);
              }
            },
            fit: false,
            width: 60,
          },
          padding: {
            left: 0,
          }
        },
        y: {
          tick: {
            count: 5
          },
          padding: {
            top: 0,
            bottom: 0
          }
        }
      },
      size: {
        height: 220,
      },
      point: { show: false },
      grid: {
        x: { show: true },
        y: { show: true }
      },
      tooltip: {
        format: {
          title: timeFullFormat,
        }
      },
    };
    this.chartData = chartData;
  },
});

</script>
